<form [formGroup]="form">
  Filter:
  <mat-form-field>
    <input matInput formControlName="filter">
  </mat-form-field>
</form>

<mat-divider></mat-divider>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [length]="translationUnits?.length" showFirstLastButtons></mat-paginator>
<mat-divider></mat-divider>

<mat-table matSort [dataSource]="dataSource">

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.state}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="source">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Source</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.source}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="target">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Target</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.target}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="sourceFile">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Source file</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.sourceFile}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
