body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: blue;
}

a.external {
  background: rgba(0, 0, 0, 0) url('/assets/images/external.png') no-repeat scroll right center;
  padding-right: 13px;
  margin-right: 6px;
}

strong {
  color: #222;
  font-weight: 600;
}

.note {
  font-style: italic;
  font-size: 13px;
}

.warning {
  color: red;
}

.kpn-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.kpn-table th, .kpn-table td {
  text-align: left;
  padding: 5px;
  line-height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}

.kpn-table th {
  font-weight: bold;
  color: #222;
  background-color: #eee;
}

table.kpn-columns-table {

  > thead > tr > th:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  > tbody > tr > td:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

table.kpn-bordered-table {

  border-right: 1px solid rgba(0, 0, 0, 0.12);

  > thead > tr > th {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 10px !important;
    padding-right: 10px !important;

    font-weight: bold;
    color: #222;
    background-color: #eee;
    vertical-align: top;
  }

  > tbody > tr > td {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

}

.mat-list .mat-list-item {
  height: 32px;
}

.kpn-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  > :not(:last-child) {
    padding-right: 0.8em;
  }
}

.kpn-detail {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.kpn-thick {
  display: inline;
  font-weight: bold;
}

.kpn-thin {
  display: inline;
  color: gray;

  a {
    color: rgba(0, 0, 255, 0.7);
  }
}


.kpn-level-1 {
  margin-top: 36px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: lightgray;
}

.kpn-level-1-header {
  @media (max-width: 768px) { // media.maxWidth(PageWidth.SmallMaxWidth.px)
    padding-bottom: 20px;
    font-size: 1.3em;
  }
  @media (min-width: 769px) {
    display: inline-block;
    font-size: 1.4em;
  }
}

.kpn-level-1-body {
  padding-top: 10px;
  padding-bottom: 20px;
}


.kpn-level-2 {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.kpn-level-2-header {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.kpn-level-2-body {
  @media (max-width: 768px) { // media.maxWidth(PageWidth.SmallMaxWidth.px)
    padding-bottom: 0.5em;
  }
  @media (min-width: 769px) {
    padding-left: 20px;
    padding-bottom: 0.5em;
  }
}


.kpn-level-3 {
  margin: 0; // TODO really needed?
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.kpn-level-3-header {
  padding-bottom: 0.5em;
}

.kpn-level-3-body {
  @media (max-width: 768px) { // media.maxWidth(PageWidth.SmallMaxWidth.px)
    padding-bottom: 0.5em;
  }
  @media (min-width: 769px) {
    padding-left: 20px;
    padding-bottom: 0.5em;
  }
}


.kpn-level-4 { // same as .kpn-detail
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.kpn-level-4-header {
  padding-bottom: 0.5em;
}

.kpn-level-4-body {
  @media (max-width: 768px) { // media.maxWidth(PageWidth.SmallMaxWidth.px)
    padding-left: 5px;
  }
  @media (min-width: 769px) {
    padding-left: 20px;
  }
}

.kpn-comma-list {
  display: inline-block;

  :not(:last-child):after {
    content: ", ";
  }
}

.kpn-brackets a::before {
  content: "(";
  color: grey;
  padding-left: 5px;
}

.kpn-brackets a::after {
  content: ")";
  color: grey;
}

.kpn-label::after {
  content: ": ";
}

.kpn-km::after {
  content: " km";
}

.kpn-meters::after {
  content: "m";
}

.breadcrumb-link::after {
  content: " > ";
  color: black;
}

.link-list-entry::after {
  content: " | ";
  color: black;
}
