<div class="page-container">

  <ng-content select="[toolbar]"></ng-content>

  <mat-divider></mat-divider>

  <mat-sidenav-container class="page-sidenav-container">
    <mat-sidenav [mode]="isMobile() ? 'over' : 'side'"
                 [fixedInViewport]="!isMobile()"
                 fixedTopGap="48"
                 [opened]="isSideNavOpen()">
      <ng-content select="[sidenav]"></ng-content>
    </mat-sidenav>

    <mat-sidenav-content>
      <div [ngClass]="{'content-with-margin': !withoutMargin}" style="height: 100%">
        <ng-content select="[content]"></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
