@import "~src/assets/scss/colors.scss";
@import "~src/assets/scss/buttons.scss";

@mixin node-circle($primary: $color-green) {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  color: $color-white;
  background: $primary;
}

.btn-back {
  @include back_btn;
  margin-right: 1%;
}

.startNode{
  @include node-circle();
  margin-right: 1%;
  margin-left: 1%;
}

.endNode {
  @include node-circle();
  margin-right: 3%;
}

.section-details h4:nth-child(2) {
  margin-right: 1%;
}

.section-details h4:nth-child(4) {
  margin-right: 3%;
}

.action {
  margin-bottom: 1%;
}

.title {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: $color-green;
}

.title h2 {
  text-align: center;
  text-decoration: underline;
  color: $color-white;
}

.title h3 {
  margin-left: 2%;
}

.title h4 {
  margin-left: 5%;
  display: list-item;
}

.info-container {
  width: 40%;
  margin-top: 2%;
}

.section-details {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.instruction-details {
  margin-left: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.spinner {
  color: $color-white;
}
