<div class="action">
  <button class="btn-back" mat-raised-button (click)="back()">{{ "BACK" | translate}}</button>
  <button mat-raised-button (click)="createPdf()">Download</button>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#66CC66"
             type="pacman">
  <p class="spinner">{{ 'CREATE_PDF' | translate }}</p>
</ngx-spinner>

<div id="exportable" *ngIf="pdfDocument">

  <div class="title">

    <div>
      <h2>Knooppuntnet</h2>
      <h3>Details:</h3>
      <h4>{{ 'TOTAL.DISTANCE' | translate}} {{pdfDocument.totalMeters}} m</h4>
      <h4>{{ 'TOTAL.TIME' | translate}} {{timeRepresentation}}</h4>
    </div>

  </div>

  <div *ngFor="let info of pdfDocument.informations">

    <div class="info-container">

      <div class="section-details">
        <h4 class="startNode">{{info.section.startNode}}</h4>
        <h4 class="to">{{ 'TABLE.TO' | translate}}</h4>
        <h4 class="endNode">   {{info.section.endNode}}</h4>
        <h4 class="meters">{{info.section.meters}} m</h4>
        <h4>{{convertTime(info.path.time)}}</h4>
      </div>

      <div class="instruction-details" *ngFor="let instruction of info.path.instructionList">
        <img src='../../../../../../assets/images/signs/{{instruction.sign}}.png' width="50" height="50" alt="">
        <h4>{{instruction.text}}</h4>
      </div>

    </div>

  </div>

</div>
