@import "reset";

@import "openlayers/ol";

.popup-logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.review {
  margin: 0;
  padding: 10px;
  border-bottom: solid 1px lightgrey;
}

.review-icon {
  display: inline-block;
  float: left;
}

.review-text {
  padding-top: 0;
  padding-left: 50px;
}

.review-form {
  padding: 10px;
}

.kpn-help {
  border-bottom: 1px dotted #0000ff;
}

.svg-bounding-box {
  stroke: lightgray;
  stroke-width:1;
  fill: transparent;
}

.svg-structure {
  stroke: red;
  stroke-width:1;
}
