@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: blue;
}

.warning {
  color: red;
}

.kpn-table {
  border-collapse: collapse;
  border-spacing: 0px;
}

.kpn-table th, .kpn-table td {
  text-align: left;
  padding: 5px;
  line-height: 20px;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}

.kpn-table th {
  font-weight: bold;
  color: #222;
  background-color: #eee;
}


table.kpn-columns-table {

  > thead > tr > th:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  > tbody > tr > td:not(:first-child)  {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

table.kpn-bordered-table {

  border-right: 1px solid rgba(0, 0, 0, 0.12);

  > thead > tr > th {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  > tbody > tr > td {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

}
