<kpn-page>
  <kpn-toolbar toolbar></kpn-toolbar>
  <kpn-subset-sidenav sidenav [subset]="subset"></kpn-subset-sidenav>
  <div content>
    <h1>
      Subset networks
    </h1>

    <kpn-subset-network-list
      *ngIf="response"
      [networks]="response.result.networks">
    </kpn-subset-network-list>

    <br/>
    <br/>
    <br/>

    <kpn-subset-network-table
      *ngIf="response"
      [networks]="response.result.networks">
    </kpn-subset-network-table>

    <div *ngIf="response">
      <json [object]="response"></json>
    </div>
  </div>
</kpn-page>
