<app-header-container></app-header-container>

<div class="faq-page">
  <button class="btn-back" mat-fab (click)="homePage()">{{ "BACK" | translate}}</button>

  <div class="faq-container">
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "EXP_PANEL_1.TITLE" | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "EXP_PANEL_1.EXPLANATION" | translate}} </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "EXP_PANEL_2.TITLE" | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "EXP_PANEL_2.EXPLANATION" | translate}} </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "EXP_PANEL_3.TITLE" | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "EXP_PANEL_3.EXPLANATION" | translate}} </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="exp-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "EXP_PANEL_4.TITLE" | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> {{ "EXP_PANEL_4.EXPLANATION" | translate}} </p>
    </mat-expansion-panel>
  </div>
</div>



