.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-app-name {
  margin-left: 8px;
}

.content-with-margin {
  /*
    The default margin to be used around the page content. This margin should
    not be used for example in pages that do show a map (which should take
    the entire content area).
  */
  margin: 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-is-mobile .page-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.page-sidenav-container {
  /*
    When the sidenav is not fixed, stretch the sidenav container to fill
    the available space. This causes `<mat-sidenav-content>` to act as our
    scrolling element for desktop layouts.
  */
  flex: 1;
}

.page-is-mobile .page-sidenav-container {
  /*
    When the sidenav is fixed, don't constrain the height of the sidenav container.
    This allows the `<body>` to be our scrolling element for mobile layouts.
  */
  flex: 1 0 auto;
}

mat-sidenav {
  overflow-y: scroll;
  min-width: 230px;
}

.nav-item-selected {
  background-color: lightgrey;
}
