$color-green: #66CC66;
$color-black: #000000;
$color-white: #FFFFFF;
$color-beige: #F5F5DC;
$color-dark-green: #667F66;
$color-dark-red: #8B0000;

$color-border-popup: #CCCCCC;
$color-details-table-hover: #DDD;
$color-details-table-even-child: #F2F2F2;

$color-legend-red: #FF0000;
$color-legend-grey: #696969;
