.ref-block {
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 4px;
  height: 20px;
  padding: 2px;
  padding-right: 5px;
  background-color: rgb(250, 250, 250);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  vertical-align: top;
}

.ref {
  display: inline-block;
  padding-top: 1px;
  padding-left: 4px;
  padding-right: 2px;
  vertical-align: top;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.add {
  background: url('/assets/images/add.svg') no-repeat;
}

.update {
  background: url('/assets/images/update.svg') no-repeat;
}

.remove {
  background: url('/assets/images/remove.svg') no-repeat;
}

.border-investigate {
  border-color: red;
}

.border-happy {
  border-color: rgb(0, 225, 0);
}

.border-normal {
  border-color: gray;
}

.node {
  background: url('/assets/images/node.svg') no-repeat;
  margin-right: 2px;
  margin-left: 2px;
}

.route {
  background: url('/assets/images/route.svg') no-repeat;
  margin-right: 2px;
  margin-left: 2px;
}
