/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form {
  padding-top: 2em;
}

.fields {
  display: grid;
  grid-template-columns: 5em 20em auto;
  column-gap: 1em;
  row-gap: 1em;
}

.debug {
  padding-top: 4em;
  font-family: monospace;
}

form button {
  margin-top: 2em;
}

input[ourOwnInput].ng-invalid {
  border: 1px solid red;
  background: rgba(255, 182, 193, 0.2);
}

input[ourOwnInput].ng-invalid.ng-pristine {
  border: 1px solid rgb(118, 118, 118);
  background: none;
}

input[ourOwnInput].ng-invalid.our-own-submitted {
  border: 1px solid red;
  background: rgba(255, 182, 193, 0.2);
}

.classes {
  padding-top: 2em;
}

.classes button {
  margin-bottom: 1em;
}
