.deviation {
  display: flex;
  align-items: center;
}

.deviation-header {
  padding-top: 2em;
  padding-left: 0.6em;
}

.deviation-id {
  width: 3em;
}

.deviation-distance {
  width: 6em;
}

.deviation-popup-button {
  margin-left: auto;
}
