<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 1000]" [length]="nodes?.length" showFirstLastButtons></mat-paginator>
<mat-divider></mat-divider>

<mat-table matSort [dataSource]="dataSource">

  <ng-container matColumnDef="nr">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nr</mat-header-cell>
    <mat-cell *matCellDef="let node">{{node.number}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="analysis">
    <mat-header-cell *matHeaderCellDef>Analysis</mat-header-cell>
    <mat-cell *matCellDef="let node">
      <network-node-analysis [node]="node"></network-node-analysis>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="node">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Node</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a routerLink="/analysis/node">{{row.title}}</a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="routes">
    <mat-header-cell *matHeaderCellDef>Routes</mat-header-cell>
    <mat-cell *matCellDef="let node">
      <network-node-routes [node]="node"></network-node-routes>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastEdit">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last edit</mat-header-cell>
    <mat-cell *matCellDef="let node">
      <day [timestamp]="node.timestamp"></day> edit osm
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let node; columns: displayedColumns;"></mat-row>
</mat-table>
