@import "~src/assets/scss/colors.scss";

.section-details {
  margin-left: 5%;
}

.start-from h5 {
  display: contents;
  color: $color-green;
}

.meters {
  display: inline;
  margin-left: 10%;
  color: $color-dark-red;
}
