<div class="route-container">

  <div class="legend">
    <div>
      <p>{{ 'PAVED' | translate }}</p>
      <p>{{ 'UNPAVED' | translate }}</p>
    </div>
    <div>
      <p>{{ 'ERROR' | translate }}</p>
      <p>{{ 'INCOMPLETE' | translate }}</p>
    </div>
  </div>

  <mat-radio-group class="selection-group" name="network-group" (change)="switchMap($event)">
    <mat-radio-button [checked]="true" value="cycling"> {{ "CYCLING" | translate }}</mat-radio-button>
    <mat-radio-button value="hiking"> {{ "HIKING" | translate }}</mat-radio-button>
  </mat-radio-group>

  <div class="route-actions">
    <button (click)="toggleHelp()" matTooltip="{{ 'HELP' | translate }}" mat-icon-button>
      <i class="material-icons md-36">help</i>
    </button>
    <button (click)="undoAction()" matTooltip="{{ 'UNDO' | translate }}" mat-icon-button id="btn-undo">
      <i class="material-icons md-36">undo</i>
    </button>
    <button (click)="clearRoute()" matTooltip="{{ 'CLEAR' | translate }}" mat-icon-button id="btn-clear">
      <i class="material-icons md-36">clear</i>
    </button>
  </div>

  <div class="display-details">
    <div *ngIf="showHelp" id="popup" class="ol-popup">
      <p>{{ "HELP_STEPS.STEP_1" | translate}}</p>
      <p>{{ "HELP_STEPS.STEP_2" | translate}}</p>
      <p>{{ "HELP_STEPS.STEP_3" | translate}}</p>
      <p>{{ "HELP_STEPS.STEP_4" | translate}}</p>
      <p>{{ "HELP_STEPS.STEP_5" | translate}}</p>
      <p>{{ "HELP_STEPS.STEP_6" | translate}}</p>
    </div>
    <app-route-details *ngIf="!showHelp" [routeState]="routeState"></app-route-details>
  </div>

  <div class="download-actions">
    <button routerLink="/knooppuntnet/export" mat-raised-button>{{ 'EXPORT_ROUTE' | translate}}</button>
  </div>

</div>

