@import "~src/assets/scss/colors.scss";

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.legend {
  color: $color-white
}

.legend div:first-child p:first-child {
   background: $color-green;
}

.legend div:first-child p:last-child {
  background: $color-legend-grey;
}

.legend div:last-child p:first-child {
  background: $color-black;
}

.legend div:last-child p:last-child {
  background: $color-legend-red;
}

.route-container {
  width: 100%;
  max-height: 90vh;
  overflow-y: scroll;
}

.selection-group {
  width: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 3%;
}

.selection-group mat-radio-button {
  margin-top: 3%;
  margin-right: 3%;
}

.route-actions {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-dark-green;
}

.route-actions button i {
  color: $color-dark-red;
}

.display-details {
  margin-bottom: 1%;
  width: inherit;
  height: auto;
}

.download-actions {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-dark-green;
}

.download-actions button {
  margin-top: 1.5%;
  margin-right: 3%;
  margin-bottom: 1.5%;

  background-color: $color-white;
  color: $color-black;
}

.ol-popup {
  background-color: $color-details-table-even-child;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid $color-border-popup;
  bottom: 12px;
  left: -50px;
  min-width: inherit;
}

