@import "~src/assets/scss/colors.scss";

#flex-container {
  display: flex;
  flex-direction: row;

  height: 90vh;
  width: 100%;
  margin-top: 0.5%;
}

@media only screen and (max-width: 500px) {
  #flex-container {
    flex-direction: column;
  }

  #map-container {
    max-height: 90vh;
    margin-bottom: 0.5%;
  }
}

#map-container {
  flex-basis: 80%;
  margin-right: 0.5%;
}

#route-container {
  flex-basis: 20%;
  background-color: $color-beige;
}
