<div class="footer">
  <p>
    <kpn-link-about></kpn-link-about>
    |
    <kpn-link-glossary></kpn-link-glossary>
    |
    <kpn-link-links></kpn-link-links>
  </p>
  <p>
    <kpn-link-overview></kpn-link-overview>
  </p>
  <p>
    <a>English</a>
    |
    <a>Nederlands</a>
  </p>
  <p>
    <a href="https://www.openstreetmap.org/message/new/vmarc" class="external" target="_blank">Contact</a>
    |
    <a href="https://github.com/vmarc/knooppuntnet/issues" class="external" target="_blank">Issues</a>
  </p>

  <p class="version">
    version
  </p>

  <p *ngIf="isLoggedIn()">
    {{currentUser()}}
    <br>
    <kpn-link-logout></kpn-link-logout>
  </p>

  <p *ngIf="!isLoggedIn()">
    <kpn-link-login></kpn-link-login>
  </p>

</div>
