@import '@angular/cdk/overlay-prebuilt.css';

// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;

@layout-header-height: 48px;
@layout-header-padding: 8px;

//@breadcrumb-link-color: @link-color;
//@breadcrumb-link-color-hover: @link-hover-color;

// the default for nz-table is to center align th when colspan > 1, we override here to also left align in this case
.ant-table-thead > tr > th {
  text-align: left !important;
}
