@use '@angular/material' as mat;

@include mat.core();
$theme: mat.define-theme((
  density: (
    scale: -3
  )
));

html {
  // Apply the light theme by default
  @include mat.core-density($theme);
  @include mat.toolbar-density($theme);
  @include mat.button-toggle-density($theme);

  //@include mat.all-component-densities($theme);
  @include mat.button-theme($theme);

  --mat-divider-color: lightgray;
  --mat-sidenav-container-background-color: white;

  --mat-toolbar-standard-height: 48px;
  --mat-toolbar-mobile-height: 48px;

  .mat-drawer {
    border-right: solid 1px lightgray;
  }
}
