body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.app {
  margin: 0;
  padding: 0.5em;
  border: 1px solid gray;
  background-color: #d0d0d0;
}

.router-outlet {
  margin: 0.5em;
  padding: 1em;
  border: 1px solid gray;
  background-color: #e0e0e0;
}

.feature-container {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid gray;
  background-color: #eeeeee;
}

.feature {
  margin: 0.5em;
  padding: 2em;
  font-size: 2em;
  color: gray;
  border: 1px solid gray;
  background-color: #fdfdfd;
}

.feature-component {
  margin: 0.5em;
  margin-left: 0;
  padding: 0.5em;
  font-size: 0.5em;
  color: gray;
  border: 1px solid gray;
  background-color: #fdfdfd;
}

a:visited {
  color: blue;
}
