<div class="route-details-container">

  <div class="select" *ngIf="!route">
    <h4>{{ 'SELECT' | translate }} </h4>
  </div>

  <div *ngIf="route">

    <div *ngFor="let item of nodeSectionMapper">
      <div class="name-details">
        <h4>{{item.name}}</h4>
        <button (click)="deleteSection(item.name)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <app-selection-details [sections]="item.sections"></app-selection-details>
    </div>

    <div>
      <h4>{{ 'TABLE.TOTAL' | translate }}   {{meters}} m</h4>
    </div>

  </div>

</div>
