@import "~src/assets/scss/colors.scss";

.name-details {
  display: flex;
  flex-direction: row;

  margin-left: 1%;
  height: 50px;
}

.mat-icon-button {
  padding-top: 3.0%;
}

.select {
  margin-left: 1%;
}

