<kpn-page>

  <h1 i18n="@@home-page-title">
    Home
  </h1>

  <nav>

    <a routerLink="/translations/edit">Translations</a>

    <kpn-link-map networkType="rcn"></kpn-link-map>
    <kpn-link-overview></kpn-link-overview>
    <kpn-link-changes></kpn-link-changes>
    <kpn-link-changeset changeSetId="61632740" replicationNumber="3101276"></kpn-link-changeset>

    <br/>
    <kpn-link-node nodeId="1" title="node-1"></kpn-link-node>
    <br/>
    <kpn-link-route routeId="1" title="route-1"></kpn-link-route>
    <br/>
    <kpn-link-network-details networkId="3138543"></kpn-link-network-details>
    <kpn-link-network-facts networkId="3138543"></kpn-link-network-facts>
    <kpn-link-network-map networkId="3138543"></kpn-link-network-map>
    <kpn-link-network-nodes networkId="3138543"></kpn-link-network-nodes>
    <kpn-link-network-routes networkId="3138543"></kpn-link-network-routes>
    <kpn-link-network-changes networkId="3138543"></kpn-link-network-changes>
    <br/>
    <kpn-link-subset-networks country="de" networkType="rcn"></kpn-link-subset-networks>
    <kpn-link-subset-facts country="de" networkType="rcn"></kpn-link-subset-facts>
    <kpn-link-subset-orphan-nodes country="de" networkType="rcn"></kpn-link-subset-orphan-nodes>
    <kpn-link-subset-orphan-routes country="de" networkType="rcn"></kpn-link-subset-orphan-routes>
    <kpn-link-subset-facts country="de" networkType="rcn"></kpn-link-subset-facts>
    <kpn-link-subset-changes country="de" networkType="rcn"></kpn-link-subset-changes>
    <br/>
    <kpn-link-login></kpn-link-login>
    <kpn-link-logout></kpn-link-logout>
    <kpn-link-authenticate></kpn-link-authenticate>
    <br/>
    <kpn-link-about></kpn-link-about>
    <kpn-link-glossary></kpn-link-glossary>
    <kpn-link-links></kpn-link-links>
    <br/>
    <a routerLink="/not-found" i18n="@@home-page-link-not-found">Not found</a>

  </nav>
</kpn-page>
