<kpn-page>
  <h1>
    Home
  </h1>
  <nav>

    <a routerLink="/map">map</a>
    <a routerLink="/overview">overview</a>
    <a routerLink="/changes">changes</a>
    <a routerLink="/changeset">changeset</a>
    <br/>
    <a routerLink="/node">node</a>
    <br/>
    <a routerLink="/route">route</a>
    <br/>
    <a routerLink="/network-details">network-details</a>
    <a routerLink="/network-facts">network-facts</a>
    <a routerLink="/network-map">network-map</a>
    <a routerLink="/network-nodes">network-nodes</a>
    <a routerLink="/network-routes">network-routes</a>
    <a routerLink="/network-changes">network-changes</a>
    <br/>
    <a routerLink="/networks/nl/rwn">subset-networks</a>
    <a routerLink="/facts/nl/rwn">subset-facts</a>
    <a routerLink="/orphan-nodes/nl/rwn">subset-orphan-nodes</a>
    <a routerLink="/orphan-routes/nl/rwn">subset-orphan-routes</a>
    <a routerLink="/RouteBroken/nl/rwn">RouteBroken</a>
    <a routerLink="/changes/nl/rwn">subset-changes</a>
    <br/>
    <a routerLink="/login">login</a>
    <a routerLink="/logout">logout</a>
    <a routerLink="/authenticate">authenticate</a>
    <br/>
    <a routerLink="/about">about</a>
    <a routerLink="/glossary">glossary</a>
    <a routerLink="/links">links</a>
    <br/>
    <a routerLink="/not-found">not-found</a>

  </nav>
</kpn-page>
