<kpn-page>
  <h1 i18n="@@home-page-title">
    Home
  </h1>
  <nav>

    <a routerLink="/translations/edit">Translations</a>
    <a routerLink="/analysis/map" i18n="@@home-page-link-map">Map</a>
    <a routerLink="/analysis/overview" i18n="@@home-page-link-overview">Overview</a>
    <a routerLink="/analysis/changes" i18n="@@home-page-link-changes">Changes</a>
    <a routerLink="/analysis/changeset" i18n="@@home-page-link-changeset">Changeset</a>
    <br/>
    <a routerLink="/analysis/node" i18n="@@home-page-link-node">Node</a>
    <br/>
    <a routerLink="/analysis/route" i18n="@@home-page-link-route">Route</a>
    <br/>
    <a routerLink="/analysis/network-details" i18n="@@home-page-link-network-details">Network details</a>
    <a routerLink="/analysis/network-facts" i18n="@@home-page-link-network-facts">Network facts</a>
    <a routerLink="/analysis/network-map" i18n="@@home-page-link-network-map">Network map</a>
    <a routerLink="/analysis/network-nodes" i18n="@@home-page-link-network-nodes">Network nodes</a>
    <a routerLink="/analysis/network-routes" i18n="@@home-page-link-network-routes">Network routes</a>
    <a routerLink="/analysis/network-changes" i18n="@@home-page-link-network-changes">Network changes</a>
    <br/>
    <a routerLink="/analysis/networks/nl/rwn" i18n="@@home-page-link-subset-networks">Subset networks</a>
    <a routerLink="/analysis/facts/nl/rwn" i18n="@@home-page-link-subset-facts">Subset facts</a>
    <a routerLink="/analysis/orphan-nodes/nl/rwn" i18n="@@home-page-link-subset-orphan-nodes">Subset orphan nodes</a>
    <a routerLink="/analysis/orphan-routes/nl/rwn" i18n="@@home-page-link-subset-orphan-routes">Subset orphan routes</a>
    <a routerLink="/analysis/RouteBroken/nl/rwn" i18n="@@home-page-link-route-broken">Subset RouteBroken</a>
    <a routerLink="/analysis/changes/nl/rwn" i18n="@@home-page-link-subset-changes">Subset changes</a>
    <br/>
    <a routerLink="/login" i18n="@@home-page-link-login">Login</a>
    <a routerLink="/logout" i18n="@@home-page-link-logout">Logout</a>
    <a routerLink="/authenticate" i18n="@@home-page-link-authenticate">Authenticate</a>
    <br/>
    <a routerLink="/about" i18n="@@home-page-link-about">About</a>
    <a routerLink="/glossary" i18n="@@home-page-link-glossary">Glossary</a>
    <a routerLink="/links" i18n="@@home-page-link-links">Links</a>
    <br/>
    <a routerLink="/not-found" i18n="@@home-page-link-not-found">Not found</a>

  </nav>
</kpn-page>
