.sidebar-section {
  padding-top: 25px;
  padding-left: 25px; /* paddingHorizontal.px */
  padding-right: 15px; /* paddingHorizontal.px */
}

.sidebar-section-title {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 10px;
}
