@import "~src/assets/scss/colors.scss";
@import "~src/assets/scss/background.scss";

.export-page {
  @include background;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 3%;

  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.actions div {
  z-index: 10;
  margin-top: 1%;
  margin-bottom: 1%;
}

.actions div :hover {
  cursor: pointer;
}

.btn-back {
  background-color: $color-white;
  margin-left: 1%;
  margin-top: 1%;

  color: $color-black;
}
